.w3-row#pin-control
  %span#p8_7
    %button{onclick: "P8_7_setup()"} Set up pin
    %button{onclick: "P8_7_read()"} Read value
    %button{onclick: "P8_7_set('high')"} Set HIGH
    %button{onclick: "P8_7_set('low')"} Set HIGH
    %button{onclick: "P8_7_disable()"} Disable pin
.w3-row#pin-values
  %p#p8_7
    
