<!doctype html>
<html>
  <head>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link rel="stylesheet" href="w3.css">
    <link rel="stylesheet" href="style.css">
  </head>
  <body>
    <div class="w3-container" id="top-bar"></div>
    <%= yield %>
    <div class="w3-container w3-hide-small" id="footer"></div>
  </body>
</html>
