!!!
%html
  %head
    %link{rel: "stylesheet", href: "w3.css"}
    %link{rel: "stylesheet", href: "style.css"}
  %body
    .w3-container#top-bar
    .w3-container#page-body
      .w3-row#content
        = yield
    .w3-container.w3-hide-small#footer
      
  
